extends layout

block content
    div
        .col-md-4.col-md-offset-4
            div
                .col-md-offset-4
                    h1= title
            form(action="login", method="POST")
                p
                    i.icon-user
                        input.form-control(name="email", type="text", placeholder="sat@sat.com")
                p
                    input.form-control(name="password", type="password", placeholder="***")
                p
                    button.btn.btn-lg.btn-primary.btn-block(type="submit") Log in